<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748178969799-o73c124mdt4a7ne2bm8jnj3ml8uv52qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748178969799-o73c124mdt4a7ne2bm8jnj3ml8uv52qo</string>
	<key>API_KEY</key>
	<string>AIzaSyD3sg5AnEQftuT9gU0yZtdU_PELVu5faZo</string>
	<key>GCM_SENDER_ID</key>
	<string>748178969799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>admin.AppChat</string>
	<key>PROJECT_ID</key>
	<string>appnhantinios-edeaf</string>
	<key>STORAGE_BUCKET</key>
	<string>appnhantinios-edeaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748178969799:ios:c266be48cb920616a25ae2</string>
	<key>DATABASE_URL</key>
	<string>https://appnhantinios-edeaf.firebaseio.com</string>
</dict>
</plist>